[build]
builder = "dockerfile"
dockerfilePath = "apps/api/Dockerfile"

[deploy]
# Disabled healthcheck temporarily to debug
# healthcheckPath = "/health"
# healthcheckTimeout = 100

[[services]]
port = 3001

[variables]
NODE_ENV = "production"
